@font-face {
			font-family: "MuseoRegular";
			src: url("../fonts/MuseoRegular/MuseoRegular.eot");
			src: url("../fonts/MuseoRegular/MuseoRegular.eot?#iefix")format("embedded-opentype"),
			url("../fonts/MuseoRegular/MuseoRegular.woff") format("woff"),
			url("../fonts/MuseoRegular/MuseoRegular.ttf") format("truetype");
			font-style: normal;
			font-weight: normal;
			font-family: 'PT Sans', sans-serif;
			font-family: 'Pacifico', cursive;
}
html{
	font-size: 10px;
	overflow-x: hidden;
}
body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
.container{
	width: 940px;
	min-width: 300px;
	margin: 0 auto;
}
header{
	height: 100vh;
	background: url(../img/background.jpg) no-repeat center center / cover;
}
.top-header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 3.5rem;
	height: 70px;
	align-items: center;
}
.logotype span{
	font-family: 'Pacifico';
	font-size: 2.8rem;
	margin-left: 60px;
	color: #fff;
}
.menu{
	margin-right: 60px;
	display: flex;
}
.menu ul{
	list-style: none;
	padding: 0;
	display: flex;
}
.menu-link{
	color: #fff;
	text-transform: uppercase;
	font-family: 'PT Sans';
	font-weight: 600;
	font-size: 1.3rem;
	text-decoration: none;
	margin-right: 26px;
}
.panel{
	display: flex;
}
.register{
	color: #fff;
	text-transform: uppercase;
	font-family: 'PT Sans';
	font-weight: 600;
	font-size: 1.3rem;
	text-decoration: none;
	padding: 1.8rem 4.2rem;
	border: 1px solid #fff;
	border-radius: 0 2px 2px 0;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.login{
	color: #fff;
	text-transform: uppercase;
	font-family: 'PT Sans';
	font-weight: 600;
	font-size: 1.3rem;
	text-decoration: none;
	padding: 1.8rem 4.2rem;
	border: 1px solid #fff;
	border-radius: 2px 0 0 2px;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	transition: all 0.4s;
}
.login:hover{
	background-color: #fff;
	color: #000;
}
.register:hover{
	background-color: #fff;
	color: #000;
}
.main-text{
	margin-left: 190px;
	margin-top: 205px;
	color: #fff;
}
.main-text h1{
	font-family: 'PT Sans';
	font-size: 4rem;
	font-weight: 700;
	margin: 0;
	text-transform: uppercase;
}
.main-text p{
	font-family: 'PT Sans';
	font-weight: 400;
	font-size: 1.8rem;
	margin-top: 21px;
	margin-bottom: 53px;
}
.main-text button{
	background-color: transparent;
	padding: 1.7rem 3.1rem;
	-webkit-transition: all .4s;
	-o-transition: all .4s;
	transition: all .4s;
	border: 1px solid #fff;
	border-radius: 2px;
	margin-right: 2rem;
}	
.main-text button:hover{
	background-color: #864cc3;
	border: 1px solid #864cc3;
	cursor: pointer;
}
.main-text button a{
	color: #fff;
	font-weight: 700;
	font-size: 1.3rem;
	text-transform: uppercase;
	text-decoration: none;
}
.features-title{
	display: flex;
	justify-content: center;
}
.features h2{
	font-family: 'MuseoRegular';
	font-size: 3.2rem;
	color: #4da2e3;
	margin: 0;
	padding-top: 8.2rem;
}
.features-img{
	display: flex;
	justify-content: center;
	padding-top: 2rem;
	padding-bottom: 4.5rem;
}
.feature-object{
	display: flex;
	flex-wrap: wrap;
}
.feature-img img{
	margin-top: -13px;
	margin-right: 18px;
}
.feature-objects{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 8rem;
}
.feature-object{
	padding-bottom: 3rem;
}
.feature-text h4{
	font-family: 'PT Sans';
	font-size: 1.8rem;
	color: #666666;
	font-weight: 700;
	margin: 0;
}
.feature-text p{
	color: #8a8a8a;
	font-family: 'PT Sans';
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 1.6;
}
hr{
	color: #eaeaea;
	width: 100%;
}
.additional-features-title{
	display: flex;
	justify-content: center;
}
.additional-features h2{
	font-family: 'MuseoRegular';
	font-size: 3.2rem;
	color: #4da2e3;
	margin: 0;
	padding-top: 7.2rem;
	font-weight: 300;	
}
.additional-features h2 span{
	font-weight: 700;
}
.partners{
	display: flex;
	justify-content: space-around;
	padding-bottom: 11.1rem;
}
.video-demostration{
	background: url(../img/bg-video.jpg) no-repeat center center / cover;
	height: 568px;
	width: 100vw;
}
.video-demostration-description{
	text-align: center;
	color: #fff;
}
.video-demostration-description h2{
	font-weight: 300;
	font-family: 'MuseoRegular';
	font-size: 3.2rem;
	margin: 0;
	padding-top: 11.5rem;
}
.video-demostration-description h2 span{
	font-weight: 700;
	font-family: 'MuseoRegular';
}
.video-demostration-description p{
	font-family: 'MuseoRegular';
	font-size: 1.5rem;
	margin: 0;
	padding-top: 4rem;
	padding-bottom: 9rem;
}
.video-play img{
	padding: 25px 25px;
	border: 4px solid #fff;
	border-radius: 50%;
}
.video-play{
	padding-bottom: 14rem;
}
.feedback-title{
	text-align: center;
}
.feedback-title h2{
	color: #4d96cf;
	font-size: 3.6rem;
	font-weight: 300;
	margin: 0;
	padding-top: 8rem;
	font-family: 'MuseoRegular';
}
.feedback-title h2 span{
	font-weight: 700;
}
.feedback-img{

}
.email-form{
	text-align: center;
	padding-bottom: 8rem;
}
.email-form p{
	color: #666666;
	font-size: 1.8rem;
	font-family: 'PT Sans';
	font-weight: 400;
	margin: 0;
	padding-bottom: 4rem;
}
.email-form input{
	padding: 2rem 17.5rem 2rem 2rem;
	background-color: #ece9e9;
	border: none;
	font-style: italic;
	font-family: 'PT Sans';
	font-weight: 400;
}
.email-form input:focus{
	outline: none;
}
.email-form button{
	padding: 2rem 2.5rem 2rem;
	border: none;
	background-color: #864cc3;
}
.email-form button:hover{
	cursor: pointer;
}
.email-form button a{
	text-transform: uppercase;
	color: #fff;
	font-weight: 700;
	font-family: 'PT Sans';
	font-size: 1.3rem;
	text-decoration: none;
}
.email-form h3{
	color: #666666;
	font-weight: 700;
	font-family: 'PT Sans';
	font-size: 2rem;
	margin: 0;
	padding-top: 4rem;
}
footer{
	background: #333333;
}
.menu-footer ul{
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	padding-top: 4.5rem;
}
.menu-footer ul li{
	margin-right: 15px;
}
.menu-footer ul li a{
	font-family: 'PT Sans';
	font-weight: 700;
	font-size: 1.3rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
}
.footer-information{
	display: flex;
	padding-top: 1.2rem
}
.footer-information img{
	margin: 5px 7px 0 7px;
	height: 25px;
}
.footer-information p{
	color: #b0b0af;
	font-family: 'PT Sans';
	font-size: 1.3rem;
	font-weight: 700;
}
.social{
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	justify-content: flex-end;
	align-content: flex-start;
	padding-top: 4rem;
}
.social-link{
	margin-right: 2rem;
}
.social li a i{
	font-size: 1.3rem;
	color: #b8b8b8;
}
.flex-container{
	display: flex;
	justify-content: space-between;
}